*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.bg{
    background-color: #eaeaea;
}

header{
    position: sticky;
    z-index: 100;
    width: 100%;
    top: 0;
    font-family: 'Lato', sans-serif;
}

.mainBg{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);}

.navbar-text{
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.usuario{
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

section{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 1rem auto 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    justify-content: center;
    justify-content: space-evenly;
}

.pie li{
    list-style: none;
    color: black;
    
}

.pie li a{
    text-decoration: none;
    color: black;
}

.negrita{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.textoLogo{
    width: 180px;
    height: auto;
}

footer img{
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
}

.texto-vitrina{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.titulo-vitrina{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.vitrina{
    height: 500px;
    object-fit: cover;
}

.carousel{
    margin-top: 4.7rem;
}

.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icono{
    width: 200px;
    border-radius: 90%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.tarjeta{
    text-align: center;
    margin: 2rem 1rem 2rem 1rem;
    font-size: 20px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 2rem auto;
}

.subtitulo{
    display: block;
    font-size: 30px;
    text-align: center;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta2{
    text-align: center;
    font-size: 20px;
    margin: 3rem 0;
    
}

.joya{
    width: 300px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5%;
}

.precio{
    color: darkslateblue;
    font-weight: bold;
}

.botonver{
    display: flex;
    flex: wrap;
    justify-content: center;
}

.vertodo{
    display: flex;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: darkslateblue;
    border-color: darkslateblue;
    margin-bottom: 1rem;
}

.vertodo:hover{
    background-color: white;
    border-radius: 50px;
    border-color: darkslateblue;
}

.vertodo-texto{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.vertodo-texto:hover{
    text-decoration: none;
    color: darkslateblue;
}

.containerSomos{
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 0.1fr 2fr;
    grid-auto-columns: 2fr;
    grid-auto-flow: row;
    gap: 15px;
    grid-template-areas:
    "somos imgperfil"
    "tituloVentajas tituloVentajas"
    "ventajas ventajas";
}

.somos{
    grid-area: somos;
}

.imgperfil{
    grid-area: imgperfil;
    width: 40rem;
}

.tituloVentajas{
    grid-area: tituloVentajas;
    font-size: 2rem;
}

.ventajas{
    grid-area: ventajas;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container{
    justify-content: center;
    padding: 15px 0;
    width: 100vw;
    height: 140vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr 3fr;
    grid-auto-columns: 2fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "cat1 none cat3"
      "cat1 cat2 cat3"
      "cat4 cat2 cat6"
      "cat4 cat5 cat6"
      "none1 cat5 none2";
  }

.tituloGrid{
    grid-area: tituloGrid;
    text-align: center;
    margin-top: 2rem;
}

.cat1{
grid-area: cat1; 
width: auto;
height: 34rem;
}

.cat2{
grid-area: cat2; 
width: auto;
height: 34rem;
}

.cat3{
grid-area: cat3; 
width: auto;
height: 34rem;
}

.cat4{
grid-area: cat4; 
width: auto;
height: 34rem;
}

.cat5{
grid-area: cat5; 
width: auto;
height: 34rem;
}

.cat6{
grid-area: cat6; 
width: auto;
height: 34rem;
}

.containerBlog{
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows:  0fr 1fr 2fr;
    grid-auto-columns: 2fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
    "tituloBlog subtituloCompras"
    "blog compras"
    "blog imgCompras";
}

.tituloContainer{
    margin-left: 1rem;
    text-align: center;
    font-size: 2rem;
}

.tituloBlog{
    grid-area: tituloBlog;
   
}

.subtituloCompras{
    grid-area: subtituloCompras;
}

.blog{
    grid-area: blog;
}

.compras{
    grid-area: compras;
}

.imgCompras{
    grid-area: imgCompras;
    width: 100vh;
    padding: 0 1rem;
}

.contenedorJoyeros{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgJoyeros{
    width: auto;
    height: 30rem;
    margin: 0 2rem;
}

.banner{
    justify-content: center;
    margin-top: 20px;
}

.containerUsuario{
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  0.2fr 3fr;
    grid-auto-columns: 1fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
    "tituloRegistrate tituloInicio"
    "formularioRegistro formularioInicio";
    padding: 1rem 1rem;
    margin: 0 auto;
    justify-content: center;
}

.tituloCuenta{
    text-align: flex-start;
    font-size: 26px;
    background-color: aliceblue;
    padding: 1rem;
    margin-right: 1rem;
}

.tituloRegistrate{
    grid-area: tituloRegistrate;
}

.tituloInicio{
    grid-area: tituloInicio;
}

.text2{
    text-align: justify;
}

.formularioRegistro{
    grid-area: formularioRegistro;
    font-size: 18px;
}

.formularioInicio{
    grid-area: formularioInicio;
    font-size: 18px;
}

@media(max-width:360px){
    .tarjeta{
        margin: 0;
    }
    .icono{
        width: 160px;
    }
    .subtitulo{
        margin: 1rem 1rem;
        font-size: 25px;
    }
    .tarjeta2{
        margin: 1rem 1rem;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    .pie{
        text-align: center;
        padding-left: 0;
    }
    .titulo-vitrina{
        font-size: 15px;
    }
    .vitrina{
        height: 200px;
        object-fit: cover;
    }
    .slider-container{
        display: flex;
        justify-content: space-between;
        width: 60vw;
        height: 53vh;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .slider-container img {
        flex: 0 0 100%;
        scroll-snap-align: center;
        height: 25rem;
    }
}