main{
    .containerBlog{
        font-family:$font;
        height: 60vh;
        padding: 0 0.5rem;
        display: grid;
        grid-auto-columns: 2fr;
        gap: 20px 30px;
        grid-auto-flow: row;
        @media (max-width:575px){
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr;
            grid-auto-columns: 1fr;
            grid-template-areas: 
            "tituloBlog"
            "blog"
            "subtituloCompras"
            "compras"
            "imgCompras";
        }
        @media (min-width:576px) {
            height: auto;
            grid-template-columns: 2fr;
            grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr;
            grid-template-areas: 
            "tituloBlog"
            "blog"
            "subtituloCompras"
            "compras"
            "imgCompras";
        }
        @media (min-width:992px){
            grid-template-columns: 2fr 2fr;
            grid-template-rows:  0fr 1fr 1.5fr;
            grid-template-areas:
            "tituloBlog subtituloCompras"
            "blog compras"
            "blog imgCompras";
        }
        .tituloBlog{
            grid-area: tituloBlog;
        }
        .subtituloCompras{
            grid-area: subtituloCompras;
            @media (max-width:575px){
                margin-top: 2rem; 
            }
            @media (min-width:576px){
                margin-top: 2rem;
            }
            @media (min-width:992px){
                margin-top: 0;
            }
        }
        .blog{
            grid-area: blog;
            .text2{
                text-align: justify;
            }
        }
        .compras{
            grid-area: compras;
            .text2{
                text-align: justify;
                list-style: none;
                padding-left: 0;
            }
        }
        .imgCompras{
            grid-area: imgCompras;
            @media (min-width:576px) {
                margin: 0 auto
            }
        }
        .tituloContainer{
            margin-left: 1rem;
            text-align: center;
            font-size: 2rem;
            @media (max-width:575px){
                font-size: 25px;
            }
        }
    }
    .banner{
        justify-content: center;
    }
}