$font:'Lato', sans-serif;
$morado: darkslateblue;
$gradiente:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 0;
    font-family: $font;
}
.bg{
    background-color: #eaeaea;
}

@import "header";
@import "index";
@import "nosotros";
@import "joyas";
@import "blog";
@import "joyeros";
@import "cuenta";
@import "footer";


